.container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 100%;
	overflow: hidden;

	.item {
		background: $white;
		color: $text-color-dark;
		padding: 5px;
	  width: 250px;
	  margin-top: 10px;
		a img {
			width: 250px;
		}
		.controls {
			margin-top: 10px;
		}
	}
}
